/* -------------navBar------------------ */
.navbar{
  height: 4rem ;
  font-size: 1.6rem;
  display: flex;
  
}
.navbar-brand{
  
  font-size: 1.6rem;
  display: flex;
  justify-self: flex-start;

} 
.navbar-nav{

  display: flex; 
  justify-content: space-evenly;    
}
button {
  border-radius: 10px;
  background-color:rgb(240, 222, 190);
  color: white;
  border: 1px solid whitesmoke;
}
/* -------body----- */
a{
  font-family: 'poppins';
}
html,h1,h2,h3,h4,h5,h6{
  font-family: "Raleway";
}
body{
  height: 100rem;
}
.container{
  height: 45rem;
  padding: 10rem;
  margin: 10rem;
}

/* <!-- Hero section --> */
#hero{
  height: 60%;
  background-image: url(/Images/istockphoto-1492557979-1024x1024.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size:cover;
  position: relative;
  color:whitesmoke;
  display: flex;
  align-items: center;
  align-self: start;    
}
#text{
  font-size: 30px;
  margin: 20px;
}
h2 {
  font: 3em sans-serif;

}
/* <!-- About section --> */
#about{
  border: 1px solid rgb(24, 19, 19);
  height: 60%;
  position: relative;
  color:rgb(203, 67, 67);
  display: flex;
  align-items: center;
  align-self: start;    
}
/* <!-- Services section --> */

#services{

  height: 60%;
  position: relative;
  color:rgb(203, 67, 67);
  display: flex;
  align-items: center;
  align-self: start;  
  flex-wrap:wrap;
}

.my-container{
  width: 100%;
  height: 35rem;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  padding:5rem ;  
  margin: 5rem;
}
#text-card{
position:absolute;
top: -5rem;
text-align: center;
}
#h1-text-card{
  margin: 0;
}
.card{
  position: relative;
  display: flex;
  height: 30rem;
  width: 15rem

}
.imgcard{
  height: 50%;
  width: 100%;
}

/* <!-- Contact section --> */
#contact{

  height: 60%;
  position: relative;
  color:rgb(203, 67, 67);
  display: flex;
  align-items: center;
  align-self: start;  

}
/* #map {
  display: block;
  position: relative;
  top: 130px;
  left: 110px;
  width: 1400px;
  overflow: hidden;
}
#Layer_1 {
  height: 800px;
  align-items: center;
  position: relative;
}
.bx {
  font-size: 30px;
}
#Israel {
  position: absolute;
  top: 60%;
  left: 63%;
}
#Ethiopia {
  position: absolute;
  top: 77%;
  left: 63%;
}
#CuscoPeru {
  position: absolute;
  top: 93%;
  left: 34%;
}
#NairobiKenya {
  position: absolute;
  top: 80%;
  left: 60%;
}
#KathmanduNepal {
  position: absolute;
  top: 66%;
  left: 75%;
}
#CapeTownSouthAfrica {
  position: absolute;
  top: 105%;
  left: 58%;
}
#HanoiVietnam {
  position: absolute;
  top: 67%;
  left: 81%;
} */
/* <!-- Footer --> */
#footer {

}
